<div class="footer">
    <ion-grid>
        <ion-row>
            <ion-col class="footer-buttons">
                <ion-button fill="solid" size="large" shape="round" color="danger">
                    <ion-icon slot="icon-only" name="people"></ion-icon>
                </ion-button>
                Communautés
            </ion-col>
            <ion-col class="footer-buttons">
                <ion-button size="large">
                    <ion-icon slot="icon-only" name="scan"></ion-icon>
                </ion-button>
                Scan
            </ion-col>
            <ion-col class="footer-buttons">
                <ion-button size="large">
                    <ion-icon slot="icon-only" name="basket"></ion-icon>
                </ion-button>
                Panier
            </ion-col>
        </ion-row>
    </ion-grid>
</div>